@import url('https://fonts.googleapis.com/css?family=Lato');



body {
	background-color: #FFCFD2;;
	font-family: Lato
}

h1{
	color: #553E4E;
	text-align:center; 
}

.btn{
	background-color: #FFAFC5;
	border: none;
	outline: none; 
	color: white;
	font-weight: 10px;
	font-size: 32px;
	letter-spacing: 2px;
	padding: 25px 75px;
	display: block;
	position: relative;
	border-radius: 20px;
	margin: 0 auto; 
	text-transform: uppercase;
	box-shadow: 0px 5px #553E4E;
}

.btn:hover {
	box-shadow: 0px 3px #553E4E;
	top: 2px;
}

.btn:active {
	box-shadow: 0px 1px #553E4E;
	top: 4px;
}