@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");


h1 {
  text-align: center;
  font-family: Lato;
}

.box {
  font-size: 50px;
  color: white;
  padding: 10px;
  text-align:center;
  font-family: lato;
  font-weight: 300;
  box-sizing: border-box;
  width: 300px;
}

.box-1 {background: #e51400; }
.box-2 {background: #fa6800;}
.box-3 {background: #f0a30a; }
.box-4 {background: #e3c800; }
.box-5 {background: #a4c400;}
.box-6 {background: #60a917;}
.box-7 {background: #00aba9;}
.box-8 {background: #1ba1e2;} 
.box-9 {background: #aa00ff;}

.container1 {
  display: flex;
  border: 20px solid black;
  height: 250px;
}

.container2 {
  display: flex;
  border: 20px solid black;
  height: 250px;
  flex-wrap: wrap;
}

.container5 {
  display: flex;
  border: 20px solid black;
  height: 250px;
  flex-wrap: wrap-reverse;
}

.container3 {
  display: flex;
  border: 20px solid black;
  flex-direction: row-reverse;
  height: 250px;
}

.container4 {
  display: flex;
  border: 20px solid black;
  height: 800px;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.container6 {
  display: flex;
  border: 20px solid black;
  height: 800px;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}


.container7 {
  display: flex;
  border: 20px solid black;
  height: 500px;
  flex-direction: column;
  flex-wrap:wrap
}

.container8 {
  display: flex;
  border: 20px solid black;
  height: 500px;
  flex-wrap:wrap-reverse;
  flex-direction: column;

}

.container9 {
  display: flex;
  border: 20px solid black;
  height: 500px;
  flex-direction: column-reverse;
  flex-wrap:wrap
}

.container10 {
  display: flex;
  border: 20px solid black;
  height: 500px;
  flex-wrap:wrap-reverse;
  flex-direction: column-reverse;

}